<!DOCTYPE html>
<head>
  <% include ./partials/head %>

</head>

<body class="centered-wrapper">
  <div class="centered-content">
    <header>
      <% include ./partials/header %>
    </header>
    <% contacts.forEach(function(contact){ %>
    <h1><%= contact.name %></h1> <a class="delete" onclick='confirm()' href="">DELETE</a>

      <div>
<table>
  <tbody>
    <tr>
      <td class="secondaryText">Name:</td>
      <td>
        <%= contact.name %>
      </td>
    </tr>
    <tr>
      <td class="secondaryText">Email:</td>
      <td><a href='mailto:/<%= contact.email %>'>
        <%= contact.email %>
      </a></td>
    </tr>
    <tr>
      <td class="secondaryText">Phone:</td>
      <td><%= contact.phone %></td>
    </tr>
    <tr>
      <td class="secondaryText">Address:</td>
      <td><%= contact.street %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= contact.city %>, <%= contact.state %> <%= contact.zip %></td>
    </tr>
    <tr>
      <td class="secondaryText" >Country:</td>
      <td><%= contact.country %></td>
    </tr>
    <tr>
      <td class="secondaryText">Birthday:</td>
      <td><%= contact.the_month %>/<%= contact.the_day %>/<%= contact.the_year %></td>
    </tr>
    <tr>
      <td class="secondaryText">Website:</td>
      <td><a href='<%= contact.website %>'><%= contact.website %></a></td>
    </tr>
  </tbody>
</table>
<% }) %>
      </div>

</body>

</html>
